<h2>Usage for: <a href="{{ view_path(inspector_class_context.className) }}">{{ inspector_class_context.className }}</a></h2>

<ul class="list-child-classes">
  {% for super_class in inspector_class_context.subClasses %}
    <li><a href="{{ view_path(super_class.class) }}">{{ super_class.class }}</a></li>
  {% endfor %}
</ul>