{% spaceless %}

  {% set line_pos = 0 %}
  {% set start_line = 0 %}

  {% set context_lines %}
    {% for line in instance.context %}

      {% if start_line == 0 %}
        {% set start_line = line.line %}
      {% endif %}

      <li{% if line.is_highlight|default(false) == true %} class="active"{% endif %}>
        <span>{{ line.content }}</span>
      </li>

      {% if line.is_highlight|default(false) == true %}
        {% set line_pos = line.line %}
      {% endif %}

    {% endfor %}

  {% endset %}

  <pre>
    <ol start="{{ start_line + 1 }}">
      {{ context_lines }}
    </ol>
  </pre>
{% endspaceless %}
