{% extends '::base.html.twig' %}

{% block body %}

  <div class="jumbotron">
    <div class="container">
      <h1>Under Development!</h1>

      <p>Pls wait...</p>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li><a href="http://symfony.com/">Symfony2</a></li>
          <li><a href="http://framework.zend.com/">Zend Framework2</a></li>
          <li><a href="https://packagist.org/">Packagist</a></li>
          <li><a href="https://github.com/">GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>


{% endblock %}