
body, html {
    background-color: #FAFAFA;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

footer {
    position: fixed;
    left:20px;
    bottom: 0;
    opacity: 0.1;
}

.well-white {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.navbar-custom {
    background-color: #FFFFFF;
    border-color: -moz-use-text-color -moz-use-text-color #EEEEEE;
    border-style: none none solid;
    border-width: 0 0 1px;
}

h2, .h2 {
    font-size: 22px;
}

.panel-code-context pre {
    box-shadow: 48px 0 0 #fbfbfc inset, 49px 0 0 #ececf0 inset;
    border:none;
    border-radius: 0;
    margin:0;
    overflow: visible;
}

.panel-code-context .panel-heading {
    padding:7px 15px;
    background: white;
}

.panel-code-context .panel-body {
    padding:0;
    overflow: auto;
    background-color: #f5f5f5;
}

.panel-code-context li.active {
    background-color: #eaeaeb;
}

.panel-code-context ol {
    margin:0;
}

.nav-pills.nav-nested li ul {
    margin-left: 15px;
    margin-top: 3px;

}

.nav-pills.nav-nested li ul a {
    padding: 3px 5px;
}

ul.nav-pills.nav-nested > li a {
    background-color: #fcfcfc;
    border: 1px solid #f8f8f8;

    -moz-box-shadow: inset 0 0 10px rgba(0,0,0, 0.05);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

ul.nav-pills.nav-nested > li a:hover {
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.list-extends-classes {
    list-style: none;
    margin-left:0;
    padding:0;
    font-size:12px;
}

ul.list-extends-classes li {
    display:inline;
    margin-right: 5px;
}

footer {
    font-size: 12px;
    opacity: 0.7;
    margin:15px 0;
}

.navbar-form-search .q-input {
    width: 180px;

    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.navbar-form-search .q-input:focus {
    width: 390px;
}

.search .r h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.r {
    padding-bottom: 10px;
}

.r p {
    margin:0;
}

.r {
    padding-bottom: 10px;
}

.r ul {
    padding:0;
    margin:0;
}

.r li {
    display:inline;
    list-style: none;
    color: #aeaeae;
}

.r .r-t {
    font-size: 12px;
}

.header-seo {
    font-size:13px;
    margin: 3px 0;
    font-weight: bold;
}